body {
        margin: 0px
    }
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
    .card {
        width: 500px;
        height: 420px;
        background: #D3D3D3;
    }