    <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <form action="/eleitor/alterar" method="post" th:object="${eleitor}">
           <div>
             <input type="hidden" th:field="*{ID}">
           </div>
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}"/>
            </div>
            <div>
                <label for="partido">E-mail:</label>
                <input type="email" id="partido" th:field="${eleitor.email}"/>
            </div>
             <div>
                <label for="cargo">Senha:</label>
                <input type="password" id="cargo" th:field="${eleitor.senha}" th:value="${eleitor.senha}"/>
            </div>
            <button type="submmit">gravar</button> 
                   
        </form>
    </body>
</html>
