<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <br >
        <fieldset>
            <legend>Dados do Candidato</legend>
            <table border = 1>
                <tr>
                    <td>id</td>
                    <td>nome</td>
                    <td>cargo</td>
                    <td>partido</td>
                    <td colspan="3"> ações</td>
                </tr>
                <form   th:each= "candidato : ${candidatolist}">
                        <TR>  
                            <td th:text = "${candidato.id}"></td>
                            <td th:text = " ${candidato.nome}"></td>
                            <td th:text = " ${candidato.cargo}"></td>
                            <td th:text = " ${candidato.partido}"></td>
                            <td><button type="submmit" formmethod="get"  th:formaction="@{/candidato/alterar/{id}(id=${candidato.id})}">Alterar</button> </td>
                            <td><button type="submmit" formmethod="get"  th:formaction="@{/candidato/excluir/{id}(id=${candidato.id})}">excluir</button> </td>
                        </tr>
                </table>
        </fieldset>
          </form>
        </br>
    </body>
</html>
