<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xml:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <fieldset>
        <legend>Cadastro de Eleitor </legend>
        <form action="/eleitores/cadastra" method="post" th:object="${eleitor}">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}"/>
            <div>
                <label for="partido">email:</label>
                <input type="email" id="partido" th:field="*{email}"/>
            </div>
             <div>
                <label for="cargo">Senha:</label>
                <input type="password" id="cargo" th:field="*{senha}"/>
            </div>
            <button type="submmit">gravar</button> 
             </fieldset>
        <button  type= "submit" formmethod="get"  th:formaction="@{/eleitores/eleitoress}">Voltar</button>
        </form>
    </body>
</html>
