<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xml:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css" />
    </head>
    <body>
        <div class="container">
            <fieldset class="card2 mb-3">
                <div class="card-header"><h2>Cadastro de Eleitor</h2></div>
                <form action="/eleitor/ecadastra" method="post" th:object="${eleitor}">
                    <div class="form-group col-md-12">
                        <label for="nome"><h5>Nome:</h5></label>
                        <input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome do Eleitor"/>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="email"><h5>Email:</h5></label>
                        <input type="email" id="email" th:field="${eleitor.email}"  class="form-control" placeholder="mail@mail.com"/>
                    </div>
                     <div class="form-group col-md-12">
                        <label for="senha"><h5>Senha:</h5></label>
                        <input type="password" id="senha" th:field="*{senha}" class="form-control" placeholder="Sua senha"/>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-lg">Gravar</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;  
                        <button  formmethod="get"  th:formaction="@{eleitor/2eleitores/}" class="btn btn-primary btn-lg">Voltar</button>
                    </div>
                </form>

            </fieldset>
        </div>   
    </body>
</html>

