<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <form action="/alterar" method="post" th:object="${candidato}">
           <div>
             <input type="hidden" th:field="*{id}">
           </div>
            <div>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}"/>
<!--                <div th:if="${#fields.hasErros('nome')}">
                    <label th:erros="*{nome}" />
                </div>    -->
            </div>
            <div>
                <label for="partido">Partido:</label>
                <input type="text" id="partido" th:field="*{partido}"/>
<!--                <div th:if="${#fields.hasErros('partido')}">
                    <label th:erros="*{partido}" />
                </div>    -->
            </div>
             <div>
                <label for="cargo">Cargo:</label>
                <input type="text" id="cargo" th:field="*{cargo}"/>
<!--                <div th:if="${#fields.hasErros('cargo')}">
                    <label th:erros="*{cargo}" />
                </div>    -->
            </div>
            <button type="submmit">gravar</button> 
                   
        </form>
    </body>
</html>
