<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xml:th = "http://www.thymeleaf.org">
    <head>
        <title>Candidato login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container text-center">
            <div class="card">
                <br>
                <h1>Login de Eleitor</h1>
                <br>
                <form action="/elogin" method="post" th:object="${eleitor}">
                    <div>
                        <label for="nome">E-mail:</label>
                        <input type="email" id="email" th:field="*{email}"/>
                    </div>
                    <div class="form-group">
                        <label for="cargo">Senha: </label>
                        <input type="password" id="senha" th:field="*{senha}"/>
                    </div>
                    <button class="btn btn-dark btn-lg" type="submmit">Logar</button> 
                </form>
            </div>
        </div>
    </body>
</html>

